@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Hammersmith+One&display=swap");

body {
  font-family: "Cabin", sans-serif;
}

#paragraph-one-home {
  color: #ff2171;
  font-size: 32px;
  font-weight: bolder;
}

#paragraph-two-home {
  color: #ff2171;
}

#cat-home {
  width: 165px;
}

#dog-home {
  width: 165px;
}

#shop-button {
  border-radius: 50px;
}

@media screen and (min-width: 1440px) {
  #cat-home {
    width: 404px;
  }

  #dog-home {
    width: 404px;
  }

  #paragraph-one-home {
    font-size: 48px;
    max-width: 383px;
  }

  #paragraph-two-home {
    max-width: 383px;
    font-size: 24px;
  }

  #shop-button {
    font-size: 24px;
  }
}
