@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

#nav {
  list-style: none;
  font-family: "Amatic SC", cursive;
  font-size: 32px;
}

.nav-list {
  font-family: "Amatic SC", cursive;
  font-size: 64px;
  font-weight: bolder;
}

#paws-n-claws-logo {
  background-image: url("../assets/paw.png");
  background-repeat: no-repeat;
  background-position: right top;
  width: 180px;
  height: 100%;
}
